
.nav-logo-container {
    opacity: 0;
}

.nav-logo-link {
    cursor: pointer;
    display: flex;
    text-decoration: none;
    width: fit-content;
    transition: all 150ms ease;
}

.nav-logo-link:hover {
    opacity: 0.8;
}

.nav-logo-fade {
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.nav-logo {
  width: 45px;
  height: 32px;
  margin: auto 10px auto 10px;
}

.nav-title {
  color: white;
  margin-top: auto auto auto 0;
  font-size: 32px;
}
