.landingpage-main {
  background-image: linear-gradient(to bottom, #e8c0ccff, white);
}

.landingpage-content {
  width: 65%;
  margin: auto;
}

.landingpage-front {
  height: 100vh;
}

.landingpage-image-container {
  margin-top: 50px;
}

.landingpage-image-pretext {
  color: #355c7d;
  text-align: center;
  font-size: 25px;
  opacity: 0;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 250ms;
}

.landingpage-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 750px;
  /* max-width: 900px; */
  opacity: 0;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 500ms;
}

.landingpage-loading {
  margin: 40px 0px 40px 0px;
}

.landingpage-loading-container {
  margin: auto;
  width: fit-content;
}

.landingpage-button {
  cursor: pointer;
  /* background-color: #355c7d; */
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #355c7d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 50px;
  transition: all 150ms ease;
  opacity: 0;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 750ms;
}

.landingpage-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
  opacity: 0.9;
}

.landingpage-expand-icon {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: calc(50% - 32px);
  transform: translateX(-50%);
  color: white;
  text-align: center;
  transition: all 150ms ease;
  /* margin-bottom: 200px; */
  transform-origin: bottom;
  animation-duration: 2s;
  animation-iteration-count: infinite;  
}

.landingpage-expand-icon span {
  cursor: pointer;
  font-size: 64px;
  opacity: 0;
  text-shadow: 2px 7px rgba(0, 0, 0, 0.05);
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1000ms;
}

.landingpage-expand-icon:hover {
  opacity: 0.8;
}

.motivation-container {
  padding-top: 120px;
  padding-bottom: 100px;
  height: 100vh;
}

.motivation-title {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-top: 0;
}

.motivation-pretext {
  text-align: center;
  margin-bottom: 80px;
}

.motivation-content {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6%;
}

.motivation-icon {
  width: 33%;
  margin: auto;
}

.motivation-icon img {
  width: 100%;
}

.motivation {
  display: block;
  color: #355c7d;
  text-align: justify;
}

.arrow-bounce {
  animation-name: arrow-bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes arrow-bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-20px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-5px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
